@tailwind base;
@tailwind components;
@tailwind utilities;
@import "assets/fonts/fonts.scss";
/* @import "//style.module.scss"; */

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Clicker Script, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif; */
  background-color: #cccccc;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
